[submodule "WyvernEngine/Vendor/glfw"]
	path = WyvernEngine/Vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "WyvernEngine/Vendor/imgui"]
	path = WyvernEngine/Vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "WyvernEngine/Vendor/yaml-cpp"]
	path = WyvernEngine/Vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "WyvernEngine/Vendor/ImGuizmo"]
	path = WyvernEngine/Vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo.git
[submodule "WyvernEngine/Vendor/Assimp"]
	path = WyvernEngine/Vendor/Assimp
	url = https://github.com/AminAliari/assimp.git
