[submodule "Merlin/vendor/glfw"]
	path = Merlin/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Merlin/vendor/imgui"]
	path = Merlin/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Merlin/vendor/yaml-cpp"]
	path = Merlin/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "Merlin/Vendor/ImGuizmo"]
	path = Merlin/Vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo.git
