[submodule "WyvernEngine/vendor/glfw"]
	path = WyvernEngine/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "WyvernEngine/vendor/imgui"]
	path = WyvernEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "WyvernEngine/vendor/yaml-cpp"]
	path = WyvernEngine/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
